{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}" />
    <title>BrainBuster</title>
</head>
<body>
    <h1>BrainBuster Quizz</h1>
    <h2>Select a quiz</h2>
    <form action="/BrainBusterApp/question/" method="POST">
        {% csrf_token %}
        <input type="submit" name="category" value="Sport">
        <input type="submit" name="category" value="Geographie">
    </form>
</body>
</html>