{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static 'question.css' %}">
</head>
<body>
    <div class="container">
        <h1>Quizfrage</h1>
        <div class="question">
            <span data-v-11ba321c="" class="question-order">1.</span>
            <p>Was ist die Hauptstadt von Frankreich?</p>
        </div>
        <div class="options">
            <div class="form-check rounded p-3 mb-2 bg-light">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Madrid
                </label>
            </div>

            <div class="form-check rounded p-3 mb-2 bg-light">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Berlin
                </label>
            </div>

            <div class="form-check rounded p-3 mb-2 bg-light">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    London
                </label>
            </div>

            <div class="form-check rounded p-3 mb-2 bg-light">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Rom
                </label>
            </div>
        </div>

        <div class="div-outer-next-button">
            <div class="div-inner-next-button">
                <span>Press <strong>ENTER</strong></span>
                <div class="append-icon">
                    <div class="text-wrapper">
                        <p>Next</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
