{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static 'question.css' %}">
</head>
<body>
    <div class="container">
        <h1>Quizfrage</h1>
        <div class="question">
            <span data-v-11ba321c="" class="question-order">1.</span>
            <p>Was ist die Hauptstadt von Frankreich?</p>
        </div>
        <div class="options">
            <div class="option">
                <input id="option1" class="radio-button" type="radio" name="answer">
                <label for="option1"></label>
                <span>Paris</span>
            </div>
            <div class="option">
                <input id="option2" class="radio-button" type="radio" name="answer">
                <label for="option2"></label>
                <span>Berlin</span>
            </div>
            <div class="option">
                <input id="option3" class="radio-button" type="radio" name="answer">
                <label for="option3"></label>
                <span>London</span>
            </div>
            <div class="option">
                <input id="option4" class="radio-button" type="radio" name="answer">
                <label for="option4"></label>
                <span>Rom</span>
            </div>
        </div>

        <div class="div-outer-next-button">
            <div class="div-inner-next-button">
                <span>Press <strong>ENTER</strong></span>
                <div class="append-icon">
                    <div class="text-wrapper">
                        <p>Next</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
